.header {
	z-index: 99;
	background-color: #192330;
	min-height: 60px;
	position: sticky;
	top: 0;
}
.header-container {
	display: flex;
	padding: 8px;
	width: 100%;
}
.header-logo img {
	width: 100px;
	padding-top: 10px;
	margin: 0 20px 0;
	cursor: pointer;
}
.header-search {
	display: flex;
	flex: 1;
	align-items: center;
}
.header-search input {
	height: 40px;
	width: 100%;
	border-radius: 5px 0 0 5px;
	outline: none;
	border: none;
	padding-left: 15px;
}
.header-search div {
	background-color: #febd69;
	width: 45px;
	height: 40px;
	border-radius: 0 5px 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header-options {
	display: flex;
	align-items: center;
	color: white;
	margin-left: 10px;
}
.header-options div {
	margin-left: 20px;
	cursor: pointer;
}
.header-options div p {
	font-size: 12px;
}
.header-options div span {
	font-weight: bold;
}
.header-signin,
.header-signin {
	color: white;
	text-decoration: none;
}
.header-basket {
	display: flex;
	align-items: center;
	margin-right: 20px;
	color: white;
}
.header-basket-count {
	padding-left: 5px;
}
@media (max-width: 540px) {
	.header-container {
		flex-wrap: wrap;
	}
	.header-options {
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 20px 0 5px 0;
	}
}
